<a href="https://colab.research.google.com/github/crudables/Data-Analys/blob/main/all_vehicle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df_18 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_18.csv')
df_08 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_08.csv')
df_18.head()

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08[df_08.duplicated()]

In [ ]:
df_18[df_18.duplicated()]

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Cert Region, Stnd, Stnd Description, Underhood ID, Veh Class, Air Pollution Score, City MPG, Hwy MPG, Cmb MPG, Greenhouse Gas Score, SmartWay, Comb CO2]
Index: []

In [ ]:
df_08.dtypes

In [ ]:
df_18.dtypes

In [ ]:
df_08.describe()

In [ ]:
df_08.isnull().values.sum()

1685

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08.isnull().any(axis=1).sum()

199

In [ ]:
df_08.tail(100)

In [ ]:
 df_18.isnull().any(axis=1).sum()

2

In [ ]:
d_18_null

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_18.duplicated().sum()

0

In [ ]:
df_18.dtypes

In [ ]:
df_08.dtypes

In [ ]:
df_08.value_counts()

In [ ]:
df_08['SmartWay'].nunique()

2

In [ ]:
df_18['SmartWay'].nunique()

3

In [ ]:
df_08['Sales Area'].nunique()

3

In [ ]:
df_18['Cert Region'].nunique()

2

In [ ]:
df_08['Trans'].nunique()

14

In [ ]:
df_08['Cyl'].nunique()

8

In [ ]:
df_18['Cyl'].nunique()

7

In [ ]:
df_08.describe()

In [ ]:
df_08.head()

In [ ]:
df_18.head()

In [45]:
df_08[df_08.Fuel == 'Gasoline']

AttributeError: ignored

In [ ]:
df_18[df_18.Fuel == 'Gasoline']

In [ ]:
df_18[df_18.Fuel == 'Ethanol/Gas'].head()

In [ ]:
df_08[df_08.Fuel == 'Ethanol/Gas'].head()

In [44]:
aa = df_18.columns.intersection(df_08.columns)
print(aa)

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [6]:
df_18.shape

(1611, 18)

In [9]:
df_08.shape

(2404, 18)

In [ ]:
df_08.head()

In [ ]:
df_18.head()

In [6]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'],axis=1,inplace=True)
df_08.shape

(2404, 14)

In [7]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'],axis=1,inplace=True)
df_18.shape

(1611, 14)

In [8]:
df_08.rename({'Sales Area':'Cert Region'},axis=1,inplace=True)

In [9]:
df_08.rename(columns=lambda x:x.strip().lower().replace(' ','_'),inplace=True)

Change columns to lowercase and replace spaces with _

In [10]:
df_18.rename(columns=lambda x:x.strip().lower().replace(' ','_'),inplace=True)

In [ ]:
df_18.head(1)

confirm both dataframes have same columns

In [13]:
(df_08.columns == df_18.columns).all()

True

In [21]:
df_08.to_csv('data_08_v1',index=False)
df_18.to_csv('data_18_v1', index=False)

In [12]:
# query columns  where cert_region is CA
CA_08df = df_08.query("cert_region == 'CA'")

In [33]:
CA_08df.head(1)

# CA_08df.drop(['cert_region'],axis=1,inplace=True)
CA_08df.shape

(1084, 13)

In [16]:
# (df_08.columns == CA_08df.columns).all()
df_08.shape

(2404, 14)

In [ ]:
CA_08df.head(1)

In [19]:
CA_18df = df_18.query("cert_region == 'CA'")

In [44]:
CA_18df.shape

(798, 14)

In [26]:
#create datasets of missing values
ca =  CA_08df[CA_08df.isna().any(axis=1)]

In [27]:
ca.shape

(0, 14)

In [ ]:
ca.head()

In [ ]:
# drop missing  values
CA_08df.dropna(how='any',inplace=True)
# CA_08df.shape

In [ ]:
# removing duplicate rows
CA_08df.drop_duplicates(inplace=True)
CA_08df.shape

In [24]:
# number of duplicates
CA_08df.duplicated().sum()

0

In [ ]:
CA_08df.dtypes

In [ ]:
CA_18df.dtypes

In [ ]:
CA_08df.head()

In [32]:
CA_08df['cyl'] = CA_08df['cyl'].apply(lambda x:x.strip('(cyl)'))
CA_08df.head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [ ]:
CA_08df['hwy_mpg'] = CA_08df.loc[:,['hwy_mpg']].astype('float64')
#check if the column has alphabets
# CA_08df[CA_08df['hwy_mpg'].str.match('[a-z][A-Z]')]

In [ ]:
CA_08df.dtypes

In [ ]:
CA_08df.tail(50)

In [ ]:
# CA_08df.astype({'city_mpg':'int64','hwy_mpg':'int64','cmb_mpg':'int64'})