<a href="https://colab.research.google.com/github/crudables/Data-Analys/blob/main/alx_vehicle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df_18 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_18.csv')
df_08 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_08.csv')
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08[df_08.duplicated()]

In [ ]:
df_18[df_18.duplicated()]

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Cert Region, Stnd, Stnd Description, Underhood ID, Veh Class, Air Pollution Score, City MPG, Hwy MPG, Cmb MPG, Greenhouse Gas Score, SmartWay, Comb CO2]
Index: []

In [ ]:
df_08.dtypes

In [ ]:
df_18.dtypes

In [ ]:
df_08.describe()

In [ ]:
df_08.isnull().values.sum()

1685

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08.isnull().any(axis=1).sum()

199

In [ ]:
df_08.tail(100)

In [ ]:
 df_18.isnull().any(axis=1).sum()

2

In [ ]:
d_18_null

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_18.duplicated().sum()

0

In [ ]:
df_18.dtypes

In [ ]:
df_08.dtypes

In [ ]:
df_08.value_counts()

In [ ]:
df_08['SmartWay'].nunique()

2

In [ ]:
df_18['SmartWay'].nunique()

3

In [ ]:
df_08['Sales Area'].nunique()

3

In [ ]:
df_18['Cert Region'].nunique()

2

In [ ]:
df_08['Trans'].nunique()

14

In [ ]:
df_08['Cyl'].nunique()

8

In [ ]:
df_18['Cyl'].nunique()

7

In [ ]:
df_08.describe()

In [ ]:
df_08.head()

In [ ]:
df_18.head()

In [ ]:
df_08[df_08.Fuel == 'Gasoline']

AttributeError: ignored

In [ ]:
df_18[df_18.Fuel == 'Gasoline']

In [ ]:
df_18[df_18.Fuel == 'Ethanol/Gas'].head()

In [ ]:
df_08[df_08.Fuel == 'Ethanol/Gas'].head()

In [ ]:
aa = df_18.columns.intersection(df_08.columns)
print(aa)

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08.head()

In [ ]:
df_18.head()

In [2]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'],axis=1,inplace=True)
df_08.shape

(2404, 14)

In [3]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'],axis=1,inplace=True)
df_18.shape

(1611, 14)

In [4]:
df_08.rename({'Sales Area':'Cert Region'},axis=1,inplace=True)

In [11]:
df_08.rename(columns=lambda x:x.strip().lower().replace(' ','_'),inplace=True)

In [12]:
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

Change columns to lowercase and replace spaces with _

In [6]:
df_18.rename(columns=lambda x:x.strip().lower().replace(' ','_'),inplace=True)

In [7]:
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

confirm both dataframes have same columns

In [ ]:
(df_08.columns == df_18.columns).all()

True

In [ ]:
df_08.to_csv('data_08_v1',index=False)
df_18.to_csv('data_18_v1', index=False)

In [13]:
# query columns  where cert_region is CA
CA_08df = df_08.query("cert_region == 'CA'")

In [ ]:
CA_08df.head(1)

# CA_08df.drop(['cert_region'],axis=1,inplace=True)
CA_08df.shape

(1084, 13)

In [ ]:
# (df_08.columns == CA_08df.columns).all()
df_08.shape

(2404, 14)

In [ ]:
CA_08df.head(1)

In [14]:
CA_18df = df_18.query("cert_region == 'CA'")

In [ ]:
CA_18df.shape

(798, 14)

In [ ]:
#create datasets of missing values
ca =  CA_08df[CA_08df.isna().any(axis=1)]

In [ ]:
ca.shape

(0, 14)

In [ ]:
ca.head()

In [15]:
# drop missing  values
CA_08df.dropna(how='any',inplace=True)
# CA_08df.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [16]:
# removing duplicate rows
CA_08df.drop_duplicates(inplace=True)
CA_08df.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(986, 14)

In [ ]:
# number of duplicates
CA_08df.duplicated().sum()

0

In [ ]:
CA_08df.dtypes

In [ ]:
CA_18df.dtypes

In [ ]:
CA_08df.head()

In [17]:
CA_08df['cyl'] = CA_08df['cyl'].apply(lambda x:x.strip(' (cyl)'))
CA_08df.head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [27]:
CA_08df['cyl'] = CA_08df.loc[:,['cyl']].astype('int32')
#check if the column has alphabets
# CA_08df[CA_08df['hwy_mpg'].str.match('/')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
CA_08df.dtypes

model                    object
displ                   float64
cyl                       int32
trans                    object
drive                    object
fuel                     object
cert_region              object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [22]:
CA_08df.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [ ]:
CA_08df.tail(50)

In [ ]:
# CA_08df.astype({'city_mpg':'int64','hwy_mpg':'int64','cmb_mpg':'int64'})

In [34]:
CA_08df.cyl.unique()

array([ 6,  4, 12,  8, 10, 16,  5,  2], dtype=int32)

In [53]:
CA_18df.cyl.unique()

array([ 6.,  4.,  5., 12., 16.,  8., nan,  3.])

In [38]:
CA_08df[CA_08df.fuel == 'ethanol/gas']

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,CA,small car,6/4,13/18,19/25,15/21,7/6,no

In [51]:
CA_08df.greenhouse_gas_score.unique()

array(['4', '5', '6', '7', '0', '1', '3', '2', '8', '9', '10', '7/6'],
      dtype=object)

In [52]:
CA_18df.greenhouse_gas_score.unique()

array([ 5,  4,  6,  7,  2,  1, 10,  3,  9,  8])

In [ ]:
CA_08df.drop(CA_08df.loc[CA_08df['hwy_mpg']=='19/25'].index, inplace=True)

In [39]:
CA_08df.air_pollution_score.nunique()

5

In [40]:
CA_18df.air_pollution_score.unique()

array([ 3,  1,  7,  5,  6, 10])

In [41]:
CA_08df.dtypes

model                    object
displ                   float64
cyl                       int32
trans                    object
drive                    object
fuel                     object
cert_region              object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [42]:
CA_18df.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
cert_region              object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [54]:
CA_08df.cyl.value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

# **Fixing air_pollution_score Data Type**


It's not just the air pollution score!

The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to this link, which I found from the PDF documentation:

"If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."

Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. 
The procedure is first done CA_08df.

In [55]:
CA_08df.air_pollution_score.unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

In [56]:
CA_18df.air_pollution_score.unique()

array([ 3,  1,  7,  5,  6, 10])

In [57]:
hb08 = CA_08df[CA_08df.fuel.str.contains('/')]
hb08

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,CA,small car,6/4,13/18,19/25,15/21,7/6,no

In [ ]:
hb18 = CA_18df[CA_18df.fuel.str.contains('/')]
hb18

In [65]:
df08_1 = hb08.copy()
df08_2 = hb08.copy()

In [66]:
split_columns =  ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']
for c in split_columns:
  df08_1[c] = df08_1[c].apply(lambda x: x.split('/')[0])
  df08_2[c] = df08_2[c].apply(lambda x: x.split('/')[1])

In [67]:
new_rows = df08_1.append(df08_2)

In [68]:
CA_08df.drop(hb08.index,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [69]:
CA_08df.append(new_rows,ignore_index=True)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,VOLVO XC 90,3.2,6,Auto-S6,2WD,Gasoline,CA,SUV,7,14,20,16,4,no
983,VOLVO XC 90,3.2,6,Auto-S6,4WD,Gasoline,CA,SUV,7,14,20,16,4,no
984,VOLVO XC 90,4.4,8,Auto-S6,4WD,Gasoline,CA,SUV,7,13,19,15,3,no
985,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,CA,small car,6,13,19,15,7,no
986,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,CA,small car,4,18,25,21,6,no

In [72]:
CA_08df[CA_08df.fuel.str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

Repeating procedure for CA_18df

In [ ]:
hb18 = CA_18df[CA_18df.fuel.str.contains('/')]
hb18

In [74]:
hb_18_1 = hb18.copy()
hb_18_2 = hb18.copy()

In [75]:
# split_columns =  ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']
for c in split_columns:
  hb_18_1[c] = hb_18_1[c].apply(lambda x: x.split('/')[0])
  hb_18_2[c] = hb_18_2[c].apply(lambda x: x.split('/')[1])

AttributeError: ignored

In [76]:
hb18.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
cert_region              object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object