<a href="https://colab.research.google.com/github/crudables/Data-Analys/blob/main/alx_vehicle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df_18 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_18.csv')
df_08 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_08.csv')
df_18.head()

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08[df_08.duplicated()]

In [ ]:
df_18[df_18.duplicated()]

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Cert Region, Stnd, Stnd Description, Underhood ID, Veh Class, Air Pollution Score, City MPG, Hwy MPG, Cmb MPG, Greenhouse Gas Score, SmartWay, Comb CO2]
Index: []

In [ ]:
df_08.dtypes

In [ ]:
df_18.dtypes

In [ ]:
df_08.describe()

In [ ]:
df_08.isnull().values.sum()

1685

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08.isnull().any(axis=1).sum()

199

In [ ]:
df_08.tail(100)

In [ ]:
 df_18.isnull().any(axis=1).sum()

2

In [ ]:
d_18_null

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_18.duplicated().sum()

0

In [ ]:
df_18.dtypes

In [ ]:
df_08.dtypes

In [ ]:
df_08.value_counts()

In [ ]:
df_08['SmartWay'].nunique()

2

In [ ]:
df_18['SmartWay'].nunique()

3

In [ ]:
df_08['Sales Area'].nunique()

3

In [ ]:
df_18['Cert Region'].nunique()

2

In [ ]:
df_08['Trans'].nunique()

14

In [ ]:
df_08['Cyl'].nunique()

8

In [ ]:
df_18['Cyl'].nunique()

7

In [ ]:
df_08.describe()

In [ ]:
df_08.head()

In [ ]:
df_18.head()

In [ ]:
df_08[df_08.Fuel == 'Gasoline']

In [ ]:
df_18[df_18.Fuel == 'Gasoline']

In [ ]:
df_18[df_18.Fuel == 'Ethanol/Gas'].head()

In [ ]:
df_08[df_08.Fuel == 'Ethanol/Gas'].head()

In [ ]:
aa = df_18.columns.intersection(df_08.columns)
print(aa)

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [ ]:
df_18.shape

(1611, 18)

In [ ]:
df_08.shape

(2404, 18)

In [ ]:
df_08.head()

In [ ]:
df_18.head()

In [2]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'],axis=1,inplace=True)
df_08.shape

(2404, 14)

In [3]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'],axis=1,inplace=True)
df_18.shape

(1611, 14)

In [5]:
df_08.rename({'Sales Area':'Cert Region'},axis=1,inplace=True)

In [6]:
df_08.rename(columns=lambda x:x.strip().lower().replace(' ','_'),inplace=True)

In [ ]:
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

Change columns to lowercase and replace spaces with _

In [7]:
df_18.rename(columns=lambda x:x.strip().lower().replace(' ','_'),inplace=True)

In [ ]:
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

confirm both dataframes have same columns

In [ ]:
(df_08.columns == df_18.columns).all()

True

In [ ]:
df_08.to_csv('data_08_v1',index=False)
df_18.to_csv('data_18_v1', index=False)

In [8]:
# query columns  where cert_region is CA
CA_08df = df_08.query("cert_region == 'CA'")

In [ ]:
CA_08df.head(1)

# CA_08df.drop(['cert_region'],axis=1,inplace=True)
CA_08df.shape

(1084, 13)

In [ ]:
# (df_08.columns == CA_08df.columns).all()
df_08.shape

(2404, 14)

In [ ]:
CA_08df.head(1)

In [9]:
CA_18df = df_18.query("cert_region == 'CA'")

In [ ]:
CA_18df.shape

(798, 14)

In [ ]:
#create datasets of missing values
ca =  CA_08df[CA_08df.isna().any(axis=1)]

In [ ]:
ca.shape

(0, 14)

In [ ]:
ca.head()

In [10]:
# drop missing  values
CA_08df.dropna(how='any',inplace=True)
# CA_08df.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [11]:
# removing duplicate rows
CA_08df.drop_duplicates(inplace=True)
CA_08df.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(986, 14)

In [ ]:
# number of duplicates
CA_08df.duplicated().sum()

0

In [ ]:
CA_08df.dtypes

In [ ]:
CA_18df.dtypes

In [ ]:
CA_08df.head()

In [12]:
CA_08df['cyl'] = CA_08df['cyl'].apply(lambda x:x.strip(' (cyl)'))
CA_08df.head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [13]:
CA_08df['cyl'] = CA_08df.loc[:,['cyl']].astype('int32')
#check if the column has alphabets
# CA_08df[CA_08df['hwy_mpg'].str.match('/')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
CA_08df.dtypes

model                    object
displ                   float64
cyl                       int32
trans                    object
drive                    object
fuel                     object
cert_region              object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [ ]:
CA_08df.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [ ]:
CA_08df.tail(50)

In [ ]:
# CA_08df.astype({'city_mpg':'int64','hwy_mpg':'int64','cmb_mpg':'int64'})

In [ ]:
CA_08df.cyl.unique()

array([ 6,  4, 12,  8, 10, 16,  5,  2], dtype=int32)

In [ ]:
CA_18df.cyl.unique()

array([ 6.,  4.,  5., 12., 16.,  8., nan,  3.])

In [14]:
CA_08df[CA_08df.fuel == 'ethanol/gas']

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,CA,small car,6/4,13/18,19/25,15/21,7/6,no

In [ ]:
CA_08df.greenhouse_gas_score.unique()

array(['4', '5', '6', '7', '0', '1', '3', '2', '8', '9', '10', '7/6'],
      dtype=object)

In [ ]:
CA_18df.greenhouse_gas_score.unique()

array([ 5,  4,  6,  7,  2,  1, 10,  3,  9,  8])

In [ ]:
# CA_08df.drop(CA_08df.loc[CA_08df['hwy_mpg']=='19/25'].index, inplace=True)

In [ ]:
CA_08df.air_pollution_score.nunique()

5

In [ ]:
CA_18df.air_pollution_score.unique()

array([ 3,  1,  7,  5,  6, 10])

In [ ]:
CA_08df.dtypes

model                    object
displ                   float64
cyl                       int32
trans                    object
drive                    object
fuel                     object
cert_region              object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [ ]:
CA_18df.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
cert_region              object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [ ]:
CA_08df.cyl.value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

# **Fixing air_pollution_score Data Type**


It's not just the air pollution score!

The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to this link, which I found from the PDF documentation:

"If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."

Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. 
The procedure is first done CA_08df.

In [ ]:
CA_08df.air_pollution_score.unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

In [ ]:
CA_18df.air_pollution_score.unique()

array([ 3,  1,  7,  5,  6, 10])

In [15]:
hb08 = CA_08df[CA_08df.fuel.str.contains('/')]
hb08

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,CA,small car,6/4,13/18,19/25,15/21,7/6,no

In [16]:
hb18 = CA_18df[CA_18df.fuel.str.contains('/')]
hb18

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4.0,SemiAuto-8,2WD,Gasoline/Electricity,CA,small car,3,28/66,34/78,30/71,10,Yes
160,BMW 530e,2.0,4.0,SemiAuto-8,2WD,Gasoline/Electricity,CA,small car,7,27/70,31/75,29/72,10,Elite
162,BMW 530e,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,small car,7,27/66,31/68,28/67,10,Elite
188,BMW 740e,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,large car,3,25/62,29/68,27/64,9,Yes
382,CHEVROLET Impala,3.6,6.0,SemiAuto-6,2WD,Ethanol/Gas,CA,large car,5,14/18,20/28,16/22,4,No
394,CHEVROLET Silverado 15,4.3,6.0,Auto-6,2WD,Ethanol/Gas,CA,pickup,5,12/18,16/24,14/20,4,No
396,CHEVROLET Silverado 15,4.3,6.0,Auto-6,4WD,Ethanol/Gas,CA,pickup,5,12/17,15/22,13/19,3,No
398,CHEVROLET Silverado 15,5.3,8.0,Auto-6,2WD,Ethanol/Gas,CA,pickup,3,12/16,17/23,14/19,3,No
428,CHEVROLET Suburban 1500,5.3,8.0,Auto-6,2WD,Ethanol/Gas,CA,standard SUV,3,12/16,17/23,14/19,3,No
432,CHEVROLET Suburban 1500,5.3,8.0,Auto-6,4WD,Ethanol/Gas,CA,standard SUV,3,11/16,15/22,12/18,3,No
436,CHEVROLET Tahoe 1500,5.3,8.0,Auto-6,2WD,Ethanol/Gas,CA,standard SUV,3,12/16,17/23,14/19,3,No
440,CHEVROLET Tahoe 1500,5.3,8.0,Auto-6,4WD,Ethanol/Gas,CA,standard SUV,3,11/16,16/22,13/18,3,No
454,CHEVROLET Volt,1.5,4.0,CVT,2WD,Gasoline/Electricity,CA,small car,3,43/113,42/99,42/106,10,Yes
456,CHEVROLET Volt,1.5,4.0,CVT,2WD,Gasoline/Electricity,CA,small car,7,43/113,42/99,42/106,10,Elite
458,CHRYSLER 300,3.6,6.0,Auto-8,2WD,Ethanol/Gas,CA,large car,3,14/19,22/30,17/23,5,No
462,CHRYSLER 300,3.6,6.0,Auto-8,4WD,Ethanol/Gas,CA,large car,3,13/18,20/27,16/21,4,No
492,DODGE Charger,3.6,6.0,Auto-8,2WD,Ethanol/Gas,CA,large car,3,14/19,22/30,17/23,5,No
496,DODGE Charger,3.6,6.0,Auto-8,4WD,Ethanol/Gas,CA,large car,3,13/18,20/27,16/21,4,No
605,FORD Fusion Energi Plug-in Hybrid,2.0,4.0,CVT,2WD,Gasoline/Electricity,CA,midsize car,7,43/102,41/91,42/97,10,Elite
659,GMC Sierra 15,4.3,6.0,Auto-6,2WD,Ethanol/Gas,CA,pickup,5,12/18,16/24,14/20,4,No
661,GMC Sierra 15,4.3,6.0,Auto-6,4WD,Ethanol/Gas,CA,pickup,5,12/17,15/22,13/19,3,No
663,GMC Sierra 15,5.3,8.0,Auto-6,2WD,Ethanol/Gas,CA,pickup,3,12/16,17/23,14/19,3,No
697,GMC Yukon 1500,5.3,8.0,Auto-6,2WD,Ethanol/Gas,CA,standard SUV,3,12/16,17/23,14/19,3,No
701,GMC Yukon 1500,5.3,8.0,Auto-6,4WD,Ethanol/Gas,CA,standard SUV,3,11/16,16/22,13/18,3,No
709,GMC Yukon 1500 XL,5.3,8.0,Auto-6,2WD,Ethanol/Gas,CA,standard SUV,3,12/16,17/23,14/19,3,No
715,GMC Yukon XL 1500,5.3,8.0,Auto-6,4WD,Ethanol/Gas,CA,standard SUV,3,11/16,15/22,12/18,3,No
892,JEEP Cherokee,2.4,4.0,Auto-9,2WD,Ethanol/Gas,CA,small SUV,3,15/21,22/30,18/25,5,No
896,JEEP Cherokee,2.4,4.0,Auto-9,4WD,Ethanol/Gas,CA,small SUV,3,14/21,21/28,17/23,5,No
933,KARMA Revero,2.0,4.0,Auto-1,2WD,Gasoline/Electricity,CA,small car,1,20/59,21/61,20/60,10,No
1162,MERCEDES-BENZ CLA250 4Matic,2.0,4.0,AutoMan-7,4WD,Ethanol/Gas,CA,small car,5,17/24,24/32,20/27,6,No
1179,MERCEDES-BENZ GLA250 4Matic,2.0,4.0,AutoMan-7,4WD,Ethanol/Gas,CA,small SUV,5,17/23,23/31,19/26,5,No
1192,MERCEDES-BENZ GLE350 4Matic,3.5,6.0,Auto-7,4WD,Ethanol/Gas,CA,standard SUV,3,13/18,17/22,14/19,3,No
1256,MINI Cooper SE Countryman All4,1.5,3.0,SemiAuto-6,4WD,Gasoline/Electricity,CA,midsize car,3,28/63,27/66,27/65,9,Yes
1507,TOYOTA Sequoia FFV,5.7,8.0,SemiAuto-6,4WD,Ethanol/Gas,CA,standard SUV,5,9/13,13/17,10/14,1,No
1517,TOYOTA Tundra FFV,5.7,8.0,SemiAuto-6,4WD,Ethanol/Gas,CA,pickup,5,9/13,12/17,10/15,2,No
1577,VOLVO S90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,midsize car,7,26/70,33/72,29/71,10,Elite
1601,VOLVO XC 60,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,small SUV,7,26/60,28/58,26/59,10,Elite
1609,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,standard SUV,7,26/63,30/61,27/62,10,Elite

In [ ]:
df08_1 = hb08.copy()
df08_2 = hb08.copy()

In [ ]:
split_columns =  ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']
for c in split_columns:
  df08_1[c] = df08_1[c].apply(lambda x: x.split('/')[0])
  df08_2[c] = df08_2[c].apply(lambda x: x.split('/')[1])

In [ ]:
new_rows = df08_1.append(df08_2)

In [ ]:
CA_08df.drop(hb08.index,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
CA_08df.append(new_rows,ignore_index=True)

In [ ]:
CA_08df[CA_08df.fuel.str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, cert_region, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

Repeating procedure for CA_18df

In [ ]:
hb18 = CA_18df[CA_18df.fuel.str.contains('/')]
hb18

In [38]:
hb_18_1 = hb18.copy()
hb_18_2 = hb18.copy()

In [41]:
split_columns =  ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']
for c in split_columns:
  hb_18_1[c] = hb_18_1[c].apply(lambda x: x.split(sep='/')[0])
  hb_18_2[c] = hb_18_2[c].apply(lambda x: x.split(sep='/')[1])

In [46]:
new_row = pd.concat([hb_18_1,hb_18_2])

In [49]:
new_row.shape

(76, 14)

In [48]:
CA_18df.drop(hb18.index,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [50]:
CA_18df = pd.concat([CA_18df,new_row])

In [ ]:
CA_18df[CA_18df.fuel.str.contains('/')]

In [54]:
#save the two dataframes to csv files
CA_08df.to_csv('CA_08df.csv')
CA_18df.to_csv('CA_18df.csv')