<a href="https://colab.research.google.com/github/crudables/Data-Analys/blob/main/Motor%20Fuel%20efficiency.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df_18 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_18.csv')
df_08 = pd.read_csv('https://raw.githubusercontent.com/crudables/Data-Analys/main/all_alpha_08.csv')
df_18.head()

In [2]:
df_18.shape

(1611, 18)

In [3]:
df_08.shape

(2404, 18)

In [8]:
df_08[df_08.duplicated()]

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
752,DODGE Sprinter 2500,3.5,NaN,NaN,NaN,Gasoline,FA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
754,DODGE Sprinter 2500,3.5,NaN,NaN,NaN,Gasoline,CA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
769,FORD E150,4.6,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT04.65HA,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
771,FORD E150,4.6,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT04.65HA,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
773,FORD E150,5.4,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
775,FORD E150,5.4,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
794,FORD E350,5.4,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
797,FORD E350,5.4,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
800,FORD E350,5.4,NaN,NaN,NaN,Gasoline,FA,HDV,8FMXK05.46R3,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
958,FREIGHTLINER 2500,3.5,NaN,NaN,NaN,Gasoline,FA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
960,FREIGHTLINER 2500,3.5,NaN,NaN,NaN,Gasoline,CA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1000,GMC Savana 1500,5.3,(8 cyl),Auto-L4,4WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8375,2,no
1001,GMC Savana 1500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1006,GMC Savana 1500,5.3,(8 cyl),Auto-L4,4WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8375,2,no
1007,GMC Savana 1500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1015,GMC Savana 2500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1019,GMC Savana 2500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1021,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FC,B8,8GMXT06.2394,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1023,GMC Savana 3500,6.2,NaN,NaN,NaN,Gasoline,FC,B8,8GMXT06.2394,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1026,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1027,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0396,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1030,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,CA,L2,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1033,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1034,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0396,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1037,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,CA,L2,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no

In [10]:
df_18[df_18.duplicated()]

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Cert Region, Stnd, Stnd Description, Underhood ID, Veh Class, Air Pollution Score, City MPG, Hwy MPG, Cmb MPG, Greenhouse Gas Score, SmartWay, Comb CO2]
Index: []

In [11]:
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [12]:
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [16]:
df_08.describe()

             Displ  Unadj Cmb MPG
count  2404.000000    2205.000000
mean      3.748918      23.916104
std       1.335785       6.366170
min       1.300000      10.018400
25%       2.500000      19.113900
50%       3.500000      23.921300
75%       4.800000      27.869300
max       8.400000      65.777800

In [18]:
df_08.isnull().values.sum()

1685

In [19]:
df_08.shape

(2404, 18)

In [30]:
df_08.isnull().any(axis=1).sum()

199

In [25]:
df_08.tail(100)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
2304,VOLKSWAGEN New Beetle Convertible,2.5,(5 cyl),Man-5,2WD,Gasoline,CA,U2,8VWXV02.5253,small car,7,Drv,20,28,23,30.0349,7,yes
2305,VOLKSWAGEN New Beetle Convertible,2.5,(5 cyl),Auto-S6,2WD,Gasoline,FA,B5,8VWXV02.5253,small car,6,Drv,20,28,23,29.8732,7,yes
2306,VOLKSWAGEN New Beetle Convertible,2.5,(5 cyl),Man-5,2WD,Gasoline,FA,B5,8VWXV02.5253,small car,6,Drv,20,28,23,30.0349,7,yes
2307,VOLKSWAGEN Passat,2.0,(4 cyl),Auto-S6,2WD,Gasoline,CA,U2,8ADXV02.0366,midsize car,7,Drv,19,28,22,29.3140,6,yes
2308,VOLKSWAGEN Passat,2.0,(4 cyl),Man-6,2WD,Gasoline,CA,U2,8ADXV02.0366,midsize car,7,Drv,21,29,24,31.1162,7,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,U2,8VVXB03.2U2N,SUV,7,Drv,14,20,16,20.7134,4,no
2400,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,CA,U2,8VVXB04.4U2N,SUV,7,Drv,13,19,15,19.4789,3,no
2401,VOLVO XC 90,3.2,(6 cyl),Auto-S6,2WD,Gasoline,FA,B5,8VVXB03.2U2N,SUV,6,Drv,14,20,16,20.9644,4,no
2402,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,FA,B5,8VVXB03.2U2N,SUV,6,Drv,14,20,16,20.7134,4,no
2403,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,FA,B5,8VVXB04.4U2N,SUV,6,Drv,13,19,15,19.4789,3,no

In [28]:
 df_18.isnull().any(axis=1).sum()

2

In [27]:
d_18_null

0       False
1       False
2       False
3       False
4       False
        ...
1606    False
1607    False
1608    False
1609    False
1610    False
Length: 1611, dtype: bool

In [31]:
df_18.shape

(1611, 18)

In [32]:
df_18.duplicated().sum()

0

In [33]:
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [34]:
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [35]:
df_08.value_counts()

Model            Displ  Cyl      Trans    Drive  Fuel      Sales Area  Stnd  Underhood ID  Veh Class  Air Pollution Score  FE Calc Appr  City MPG  Hwy MPG  Cmb MPG  Unadj Cmb MPG  Greenhouse Gas Score  SmartWay
GMC Savana 2500  5.3    (8 cyl)  Auto-L4  2WD    Gasoline  CA          L2    8GMXT05.3384  van        6                    Drv           12        16       14       13.8612        2                     no          2
GMC Savana 1500  5.3    (8 cyl)  Auto-L4  2WD    Gasoline  FA          B5    8GMXT05.3384  van        6                    Drv           12        16       14       13.8612        2                     no          2
                                          4WD    Gasoline  FA          B5    8GMXT05.3384  van        6                    Drv           12        16       14       13.8375        2                     no          2
                                          2WD    Gasoline  CA          L2    8GMXT05.3384  van        6                    Drv           12        16       14       13.8612        2                     no          2
                                          4WD    Gasoline  CA          L2    8GMXT05.3384  van        6                    Drv           12        16       14       13.8375        2                     no          2
                                                                                                                                                                                                                     ..
FORD Explorer    4.6    (8 cyl)  Auto-L6  4WD    Gasoline  FA          B5    8FMXT04.63EZ  SUV        6                    Drv           13        19       15       18.9287        3                     no          1
                                                           CA          U2    8FMXT04.63EZ  SUV        7                    Drv           13        19       15       18.9287        3                     no          1
                                                                             8FMXT04.63BX  SUV        7                    Drv           13        19       15       18.9287        3                     no          1
                                          2WD    Gasoline  FA          B5    8FMXT04.63EZ  SUV        6                    Drv           13        20       16       19.9678        4                     no          1
VOLVO XC 90      4.4    (8 cyl)  Auto-S6  4WD    Gasoline  FA          B5    8VVXB04.4U2N  SUV        6                    Drv           13        19       15       19.4789        3                     no          1
Length: 2199, dtype: int64

In [36]:
df_08['SmartWay'].nunique()

2

In [37]:
df_18['SmartWay'].nunique()

3

In [38]:
df_08['Sales Area'].nunique()

3

In [39]:
df_18['Cert Region'].nunique()

2

In [40]:
df_08['Trans'].nunique()

14

In [41]:
df_08['Cyl'].nunique()

8

In [42]:
df_18['Cyl'].nunique()

7

In [43]:
df_08.describe()

             Displ  Unadj Cmb MPG
count  2404.000000    2205.000000
mean      3.748918      23.916104
std       1.335785       6.366170
min       1.300000      10.018400
25%       2.500000      19.113900
50%       3.500000      23.921300
75%       4.800000      27.869300
max       8.400000      65.777800

In [44]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [45]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [47]:
df_08[df_08.Fuel == 'Gasoline']

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,U2,8VVXB03.2U2N,SUV,7,Drv,14,20,16,20.7134,4,no
2400,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,CA,U2,8VVXB04.4U2N,SUV,7,Drv,13,19,15,19.4789,3,no
2401,VOLVO XC 90,3.2,(6 cyl),Auto-S6,2WD,Gasoline,FA,B5,8VVXB03.2U2N,SUV,6,Drv,14,20,16,20.9644,4,no
2402,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,FA,B5,8VVXB03.2U2N,SUV,6,Drv,14,20,16,20.7134,4,no
2403,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,FA,B5,8VVXB04.4U2N,SUV,6,Drv,13,19,15,19.4789,3,no

In [48]:
df_18[df_18.Fuel == 'Gasoline']

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1604,VOLVO XC 90,2.0,4.0,SemiAuto-8,2WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,JVVXJ02.0A70,standard SUV,5,22,29,25,5,No,353
1605,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,JVVXJ02.0A70,standard SUV,5,22,28,24,5,No,365
1606,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,JVVXJ02.0A70,standard SUV,5,22,28,24,5,No,365
1607,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,JVVXJ02.0B70,standard SUV,5,20,27,23,5,No,394
1608,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,JVVXJ02.0B70,standard SUV,5,20,27,23,5,No,394

In [67]:
df_18[df_18.Fuel == 'Ethanol/Gas'].head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
382,CHEVROLET Impala,3.6,6.0,SemiAuto-6,2WD,Ethanol/Gas,CA,L3ULEV70,California LEV-III ULEV70,JGMXV03.6166,large car,5,14/18,20/28,16/22,4,No,394/409
383,CHEVROLET Impala,3.6,6.0,SemiAuto-6,2WD,Ethanol/Gas,FA,T3B70,Federal Tier 3 Bin 70,JGMXV03.6166,large car,5,14/18,20/28,16/22,4,No,394/409
394,CHEVROLET Silverado 15,4.3,6.0,Auto-6,2WD,Ethanol/Gas,CA,L3ULEV70,California LEV-III ULEV70,JGMXT04.3187,pickup,5,12/18,16/24,14/20,4,No,457/448
395,CHEVROLET Silverado 15,4.3,6.0,Auto-6,2WD,Ethanol/Gas,FA,T3B70,Federal Tier 3 Bin 70,JGMXT04.3187,pickup,5,12/18,16/24,14/20,4,No,457/448
396,CHEVROLET Silverado 15,4.3,6.0,Auto-6,4WD,Ethanol/Gas,CA,L3ULEV70,California LEV-III ULEV70,JGMXT04.3187,pickup,5,12/17,15/22,13/19,3,No,476/473

In [66]:
df_08[df_08.Fuel == 'Ethanol/Gas'].head()

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Sales Area, Stnd, Underhood ID, Veh Class, Air Pollution Score, FE Calc Appr, City MPG, Hwy MPG, Cmb MPG, Unadj Cmb MPG, Greenhouse Gas Score, SmartWay]
Index: []